language: go
matrix:
  include:
    - go: 1.x
      env: LATEST=true
    - go: 1.11.x
    - go: 1.12.x
    - go: 1.13.x
    - go: tip
  allow_failures:
    - go: tip

install:
  - export GO111MODULE=on
  - go get -t -v ./...

script:
  - go test -v ./...
